/* MONTSERRAT FONT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* PLAYFAIR DISPLAY FONT */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* CLICKER FONT */
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--transition-3);
  border: none;
  outline: none;
}
body.dark {
  --black-1: whitesmoke;
  --black-2: whitesmoke;
  --black-3: whitesmoke;
  --black-4: whitesmoke;
  --black-5: whitesmoke;
  --black-6: whitesmoke;
  --black-7: whitesmoke;
  --black-8: whitesmoke;
  --black-9: whitesmoke;
  --t-black-1: whitesmoke;
  --t-green: #2ecc40;
  --green: #2ecc40;
  --t-silver: hsla(30, 3%, 34%, 1);
  --t-white: hsla(0, 0%, 0%, 0.8);
}
:root {
  /* COLORS */
  --silver: hsla(0, 0%, 65%, 1);
  --grey: hsla(30, 3%, 34%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --black-1: hsla(40, 12%, 5%, 1);
  --black-2: hsla(30, 8%, 5%, 1);
  --black-3: hsla(0, 3%, 7%, 1);
  --black-4: hsla(210, 4%, 9%, 1);
  --black-5: hsla(210, 4%, 11%, 1);
  --black-6: hsla(180, 2%, 8%, 1);
  --black-7: hsla(0, 0%, 13%, 1);
  --black-8: hsla(0, 0%, 0%, 0.8);
  --black-9: hsla(0, 0%, 0%, 0.15);
  --green: #2ecc40;
  --white: hsla(0, 0%, 100%, 1);
  --white-1: hsla(0, 0%, 100%, 0.2);
  --white-2: hsla(0, 0%, 100%, 0.1);
  --t-green: #2ecc40;
  --t-black-1: hsla(40, 12%, 5%, 1);
  --t-silver: hsla(0, 0%, 65%, 1);
  --t-white: hsla(0, 0%, 100%, 1);

  /* FONT FAMILY */
  --font_family-1: "Montserrat", sans-serif;
  --font_family-2: "Playfair Display", serif;
  --font_family-3: "Clicker Script", cursive;

  /* GRADIENTS */
  --loading-text-gradient: linear-gradient(
    90deg,
    transparent 0% 16.66%,
    var(--black-3) 33.33% 50%,
    transparent 66.66% 75%
  );
  --gradient-1: linear-gradient(
    to top,
    hsla(0, 0%, 0%, 0.9),
    hsla(0, 0%, 0%, 0.7),
    transparent
  );

  /* FONT SIZES */
  --fontSize-13: calc(1.3rem + 6.7vw);
  --fontSize-12: calc(2rem + 2.5vw);
  --fontSize-11: calc(1.3rem + 2.4vw);
  --fontSize-10: calc(1.6rem + 1.2vw);
  --fontSize-9: 2.2rem;
  --fontSize-8: 2.1rem;
  --fontSize-7: calc(1.6rem + 1.2vw);
  --fontSize-6: 2.4rem;
  --fontSize-5: 1.6rem;
  --fontSize-4: 1.8rem;
  --fontSize-3: 1.6rem;
  --fontSize-2: 1.4rem;
  --fontSize-1: 1.2rem;

  /* FONT WEIGHTS */
  --weight-regular: 400;
  --weight-bold: 700;

  /* LINE HEIGHTS */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* LETTERS SPACINGS */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  /* SHADOWS */
  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 1px 1px 5px rgba(0, 0, 0, 0.2);
  --shadow-3: 1px 1px 10px rgba(0, 0, 0, 0.2);

  /* BORDER RADIUS */
  --radius-24: 24px;
  --radius-circle: 50%;

  /* TRANSITIONS */
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--black-1);
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--green);
}

/* GENERAL STYLES */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  /* height: 100vh; */
  scroll-behavior: smooth;
}
img,
i,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--t-white);
}
img {
  filter: brightness(0.7);
}
section {
  padding: 2rem 4%;
  padding-bottom: 10rem;
}
.section {
  background-color: var(--black-3);
  min-height: 100vh;
  color: var(--t-white);
  display: block;
  opacity: 1;
  position: fixed;
  width: 80%;
  left: 20%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.section.back-section {
  z-index: 1;
}
.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* GENERAL STYLES */

/* ASIDE STYLE STARTS */
aside.sidebar {
  width: 20%;
  background-color: var(--black-7);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-2);
}
.logo {
  position: absolute;
  top: 5%;
  left: 25%;
  margin: 0 auto;
}
.logo a {
  font-family: "Clicker Script", cursive;
  font-weight: var(--weight-bold);
  font-size: var(--fontSize-10);
  position: relative;
  letter-spacing: var(--letterSpacing-1);
  padding: 1.2rem 1.5rem;
}
.logo a::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2rem;
  border-bottom: 0.5rem solid var(--green);
  border-left: 0.5rem solid var(--green);
  bottom: 0;
  left: 0;
}
.logo a::after {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2rem;
  border-top: 0.5rem solid var(--green);
  border-right: 0.5rem solid var(--green);
  top: 0;
  right: 0;
}
nav {
  margin-top: 6rem;
  width: 100%;
  margin: 0 auto;
}
nav .nav a {
  width: 100%;
  display: block;
  letter-spacing: var(--letterSpacing-1);
  font-size: var(--fontSize-2);
  font-weight: var(--weight-regular);
  border: 0.1rem solid var(--silver);
  border-radius: var(--radius-24);
  border-right: none;
  border-left: none;
  padding: 2rem 0;
  margin: 2rem 0;
  margin-bottom: 1rem;
  padding: 2rem 7rem;
}
nav .nav a:hover,
nav .nav a.active {
  font-weight: var(--weight-bold);
  background-color: var(--green);
}
nav .nav a i {
  margin-right: 1rem;
  text-shadow: var(--shadow-3);
}
h1 {
  color: white;
}
nav ul li {
  list-style-type: none;
}
/* ASIDE STYLE ENDS */
.CONTAINER {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.background-change {
  position: absolute;
  bottom: 2%;
  right: 3%;
}
.background-change i {
  font-size: var(--fontSize-6);
  color: var(--t-silver);
  clip-path: circle();
  padding: 1rem;
  border-radius: var(--radius-circle);
  background-color: var(--black-1);
}
.background-change:hover i {
  background-color: var(--green);
  color: var(--t-white);
}
section {
  padding-bottom: 15rem;
}

/* HOME SECTION STYLES STRATS */
.r-logo {
  top: 5%;
  left: 5%;
  padding: 0 2%;
}
.home .home-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  padding: 15rem 0;
  padding-bottom: 0;
}
.home .home-container .home-box-1 {
  width: 100%;
  flex: 1 1 45rem;
}
.home .home-container .home-box-2 {
  width: 100%;
  flex: 1 1 25rem;
}
.home .home-container .box h1,
.home .home-container .box h3 {
  text-transform: none;
  color: var(--t-white);
  font-weight: var(--weight-bold);
  font-size: var(--fontSize-4);
  padding-bottom: 1rem;
}
.home .home-container .box h1 span,
.home .home-container .box h3 span {
  color: var(--t-green);
  font-family: var(--font_family-2);
  letter-spacing: var(--letterSpacing-1);
  text-transform: uppercase;
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
}
.home .home-container .box p {
  font-size: var(--fontSize-3);
  line-height: var(--lineHeight-5);
  width: 100%;
  padding-bottom: 5rem;
  text-transform: none;
}
.btn a {
  border-bottom: 0.2rem solid var(--green);
  border-top: 0.2rem solid var(--green);
  padding: 2rem 2rem;
  color: var(--t-white);
  font-size: var(--fontSize-2);
  font-weight: var(--weight-bold);
  border-radius: 1rem;
  letter-spacing: var(--letterSpacing-1);
  text-shadow: var(--shadow-3);
}
.btn i {
  margin-right: 1rem;
}
.btn a:hover {
  background-color: var(--green);
}
.home .home-container .box .image {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.home .home-container .box .image img {
  width: 40rem;
  margin-top: 5rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  filter: brightness(0.7);
  animation: up 3s ease-in-out infinite alternate;
}
@keyframes up {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(-10%);
  }
}
/* HOME SECTION STYLES ENDS */

/* ABOUT SECTION STARTS */
.about-head {
  position: relative;
}
.about-head h2 {
  display: block;
  font-size: var(--fontSize-10);
  font-weight: var(--weight-bold);
  font-family: var(--font_family-2);
  letter-spacing: var(--letterSpacing-1);
}
.about-head::after {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.5rem;
  background-color: var(--green);
  bottom: -30%;
  left: 0;
  border-radius: 5rem;
}
.about-head::before {
  position: absolute;
  content: "";
  width: 3rem;
  height: 0.5rem;
  background-color: var(--green);
  bottom: -56%;
  left: 0;
  border-radius: 5rem;
}
.about .about-desc {
  margin: 10rem 0;
  margin-bottom: 0;
}
.about .about-desc h3 {
  font-size: var(--fontSize-4);
  font-weight: var(--weight-bold);
  padding-bottom: 2rem;
}
.about .about-desc h3 span {
  color: var(--t-green);
}
.about .about-desc p {
  font-size: var(--fontSize-3);
  line-height: var(--lineHeight-5);
  padding-bottom: 1rem;
}
.about .about-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  width: 100%;
  gap: 5rem;
  margin-top: 5rem;
}
.about .about-container .box {
  width: 100%;
  flex: 1 1 45rem;
  margin-bottom: 2rem;
}
.about .about-container .box h2 {
  font-size: var(--fontSize-4);
  font-weight: var(--weight-bold);
  font-family: var(--font_family-3);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-1);
  padding-bottom: 1rem;
  color: var(--t-green);
}
.bio {
  margin-top: 4rem;
}
.about .about-container .box .box-name,
.about .about-container .box .item-1 {
  margin-top: 1.5rem;
}
.about .about-container .box .item-1 {
  margin-top: 0rem;
}
.about .about-container .box .box-name {
  border-bottom: 0.5rem solid var(--white-2);
}
.about .about-container .box .item-1 h3 {
  padding: 1rem 0;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid var(--white-2);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold);
}
.about .about-container .box .item-1 h3 a {
  text-decoration: underline;
}
.about .about-container .box .item-1 h3 a,
.about .about-container .box .item-1 h3 span {
  font-weight: var(--weight-regular);
  letter-spacing: var(--letterSpacing-1);
}
.about .about-container .box .item-1 .btn {
  margin-top: 3.5rem;
  display: flex;
  gap: 3rem;
}
.about .about-container .box .box-name h4 {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold);
  letter-spacing: var(--letterSpacing-1);
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.about .about-container .box .box-name .lang-1 .name {
  display: flex;
  justify-content: space-between;
}
.about .about-container .box .box-name .lang-1 {
  padding-bottom: 1rem;
}
.about .about-container .box .box-name .name ul {
  margin-left: 2rem;
}
.about .about-container .box .box-name .name ul li {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-regular);
  padding-bottom: 1rem;
  list-style: disc;
}
.about .about-container .box .box-name .name h5,
.about .about-container .box .box-name .name span,
.about .about-container .box .box-name .name abbr {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-regular);
  padding-bottom: 0.2rem;
}
.about .about-container .box .box-name .lang-1 .bar {
  width: 100%;
  height: 0.5rem;
  background-color: var(--silver);
  border-radius: 1rem;
  position: relative;
}
.about .about-container .box .box-name .lang-1 .bar-8::after,
.about .about-container .box .box-name .lang-1 .bar-7::after,
.about .about-container .box .box-name .lang-1 .bar-6::after,
.about .about-container .box .box-name .lang-1 .bar-3::after,
.about .about-container .box .box-name .lang-1 .bar-2::after,
.about .about-container .box .box-name .lang-1 .bar-1::after {
  position: absolute;
  content: "";
  width: 91%;
  height: 0.5rem;
  background-color: var(--green);
  border-radius: 1rem;
}
.about .about-container .box .box-name .lang-1 .bar-2::after {
  width: 88%;
}
.about .about-container .box .box-name .lang-1 .bar-3::after {
  width: 77%;
}
.about .about-container .box .box-name .lang-1 .bar-3::after {
  width: 77%;
}
.about .about-container .box .box-name .lang-1 .bar-8::after,
.about .about-container .box .box-name .lang-1 .bar-7::after,
.about .about-container .box .box-name .lang-1 .bar-6::after {
  width: 100%;
}
.about .exp-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 5rem;
}
.about .exp-container .box {
  width: 100%;
  flex: 1 1 45rem;
}
.about .exp-container .box h1 {
  font-size: var(--fontSize-4);
  font-weight: var(--weight-bold);
  font-family: var(--font_family-3);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-1);
  color: var(--t-green);
}
.about .exp-container .box .cover {
  background-color: var(--white-1);
  border-radius: 0.5rem;
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: var(--shadow-3);
}
.about .exp-container .box .items {
  padding-left: 4rem;
  position: relative;
  padding-top: 3rem;
  width: 100%;
  height: 100%;
}
.itm {
  /* margin-bottom: 2.5rem; */
}
.about .exp-container .box .items::after {
  position: absolute;
  content: "";
  width: 0.2rem;
  height: 90%;
  background-color: var(--green);
  top: 13%;
  left: 3%;
}
.about .exp-container .box .items::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: var(--green);
  border-radius: var(--radius-circle);
  top: 12.5%;
  left: 1%;
}
.about .exp-container .box .items .year {
  display: flex;
  gap: 1rem;
  font-weight: var(--weight-regular);
  font-size: var(--fontSize-2);
  padding-bottom: 1rem;
}
.about .exp-container .box .items .year span {
  margin-top: -0.1rem;
}
.about .exp-container .box .items h3 {
  font-size: var(--fontSize-3);
  letter-spacing: var(--letterSpacing-1);
  font-weight: var(--weight-bold);
  font-family: var(--font_family-2);
  padding-bottom: 1.5rem;
}
.about .exp-container .box .items p {
  line-height: var(--lineHeight-5);
  font-size: var(--fontSize-2);
  text-transform: none;
}
/* ABOUT SECTION ENDS */

/* SERVICE SECTION STARTS */
.serve.swiper {
  padding: 15rem 0;
  padding-bottom: 0;
}
.serve .service-containe.swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 5rem;
  width: 100%;
  padding: 2rem;
  position: relative;
}
.serve .service-contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 5rem;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.serve .service-contain .x-box {
  width: 100%;
  flex: 1 1 45rem;
  background-color: var(--black-8);
  border-radius: 0.5rem;
  padding: 12rem 4%;
  box-shadow: var(--shadow-3);
  padding-bottom: 2rem;
}
.serve .service-contain .x-box,
.serve .service-container .box {
  width: 100%;
  background-color: var(--black-8);
  border-radius: 0.5rem;
  padding: 12rem 4%;
  box-shadow: var(--shadow-3);
  padding-bottom: 2rem;
}
.serve .service-contain .x-box i,
.serve .service-container .box i {
  color: var(--t-green);
  font-size: var(--fontSize-5);
  padding-bottom: 3rem;
}
.serve .service-contain .x-box h3,
.serve .service-container .box h3 {
  font-size: var(--fontSize-4);
  line-height: var(--lineHeight-2);
  font-weight: var(--weight-bold);
  padding-bottom: 1.5rem;
}
.serve .service-contain .x-box .serviceBtn,
.serve .service-container .box .serviceBtn {
  font-size: var(--fontSize-2);
  cursor: pointer;
  color: var(--t-green);
  border-bottom: 0.2rem solid var(--green);
  border-radius: 0.6rem;
}
.serve .service-contain .x-box span i,
.serve .service-container .box span i {
  margin-left: 1rem;
}
.card {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* transform: translate(-50%, 50%); */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: max-content;
  background-color: var(--white-2);
  backdrop-filter: blur(10px);
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  padding: 2rem 4%;
  text-align: center;
  box-shadow: var(--shadow-3);
  transition: var(--transition-2);
  display: none;
}
.card.service_view {
  display: block;
}
.card .fa-times {
  position: absolute;
  top: 0%;
  color: var(--t-green);
  font-size: var(--fontSize-8);
  right: 0;
}
.card .name i {
  color: var(--t-green);
  font-size: var(--fontSize-5);
  padding-bottom: 2rem;
}
.card h2 {
  text-align: center;
  font-family: var(--font_family-2);
  letter-spacing: var(--letterSpacing-1);
  padding-bottom: 2rem;
  font-size: var(--fontSize-3);
  font-weight: var(--weight-bold);
}
.card p {
  text-align: center;
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-4);
  font-weight: var(--weight-regular);
}
.card .list ul li {
  text-align: left;
  margin: 2rem 4%;
  font-size: var(--fontSize-2);
  font-weight: var(--weight-regular);
}
/* SERVICE SECTION ENDS */

/* PORTFOLIO SECTION STARTS */
.portfolio_container.swiper-wrapper {
  margin-top: 15rem;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
}
.portfolio_container .portfolio_card {
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-2);
  background-color: var(--black-6);
}
.project_details {
  display: none;
}
.portfolio_container .portfolio_card img {
  width: 100%;
  height: 30rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
.portfolio_card .project_name {
  font-family: var(--font_family-2);
  font-size: var(--fontSize-3);
  /* font-weight: var(--weight-regular); */
  letter-spacing: var(--letterSpacing-1);
  padding-bottom: 1rem;
  text-align: left;
}
.portfolio_card .project_view {
  font-size: var(--fontSize-2);
  text-align: left;
  cursor: pointer;
  color: var(--t-green);
  border-bottom: 0.2rem solid var(--green);
  border-radius: 0.5rem;
  width: fit-content;
  letter-spacing: var(--letterSpacing-1);
}
.project_view i {
  margin-left: 1rem;
}
.portfolio_card .project_view:hover {
  transform: scale(1.1);
}
.popup_portfolio {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 20%;
  border-color: var(--black-6);
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}
.popup_portfolio.open {
  opacity: 1;
  visibility: visible;
}
.popup_container {
  background-color: var(--black-6);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 3rem;
  box-shadow: var(--shadow-2);
  border-radius: 0.5rem;
  padding: 4rem;
  margin: 0 4%;
  position: relative;
}
.popup_wrapper {
  position: absolute;
  top: 1.5%;
  right: 2.5%;
}
.popup_wrapper i {
  font-size: var(--fontSize-6);
  color: var(--t-green);
  font-weight: var(--weight-bold);
}
.popup_container .box {
  flex: 1 1 20rem;
  align-self: center;
  width: 100%;
}
.popup_container .popup_img {
  width: 100%;
}
.popup_container .popup_img img {
  width: 100%;
  border-radius: 0.5rem;
}
.popup_sub {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-bold);
  padding-bottom: 2rem;
}
.popup_content .details_title {
  font-size: var(--fontSize-6);
  font-family: var(--font_family-2);
  letter-spacing: var(--letterSpacing-1);
  padding-bottom: 2rem;
}
.popup_content .details_desc {
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-3);
  padding-bottom: 1rem;
  text-transform: none;
}
.popup_content .details_info {
  margin-left: 1.7rem;
}
.popup_content .details_info li {
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-3);
  padding-bottom: 2rem;
}
.popup_content .details_info li:last-child {
  list-style: none;
}
.popup_content .details_info li:last-child a {
  color: var(--t-green);
  letter-spacing: var(--letterSpacing-1);
  font-size: var(--fontSize-2);
  text-decoration: underline;
  font-family: var(--font_family-2);
}
.popup_content .details_info li:last-child a:hover {
  letter-spacing: var(--letterSpacing-2);
}
/* PORTFOLIO SECTION ENDS */

/* CONTACT SECTION STRATS */
.contact .contact_contacts {
  margin-top: 10rem;
  text-align: center;
  width: 100%;
}
.contact_contacts h1 {
  padding-bottom: 1.5rem;
  font-family: var(--font_family-2);
  font-weight: var(--weight-bold);
  font-size: var(--fontSize-6);
  color: var(--t-green);
  letter-spacing: var(--letterSpacing-1);
}
.contact_contacts p {
  font-weight: var(--weight-regular);
  font-size: var(--fontSize-4);
  letter-spacing: var(--letterSpacing-1);
}
.contact_contacts .contact_icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  margin-top: 5rem;
}
.contact_contacts .contact_icon {
  flex: 1 1 25rem;
  margin-top: 2rem;
  width: 100%;
}
.contact_icons .contact_icon i {
  margin-bottom: 2rem;
  font-size: var(--fontSize-6);
  color: var(--t-green);
  font-weight: var(--weight-bold);
  padding: 1.5rem;
  background-color: var(--white-2);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.contact_icons .contact_icon:hover i {
  transform: rotate(360deg);
}
.contact_icons .contact_icon h3 {
  margin-bottom: 1rem;
  font-size: var(--fontSize-3);
  letter-spacing: var(--letterSpacing-1);
  font-weight: var(--weight-bold);
}
.contact_icons .contact_icon a {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular);
}
.contact_icons .contact_icon a:hover {
  color: var(--t-green);
  text-decoration: underline;
}
.contact_contacts.contact_form form {
  text-align: left;
}
.contact_form form {
  margin-top: 5rem;
  width: 100%;
}
.contact_form form .name_sub {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  width: 100%;
}
.name_sub .subject,
.name_sub .name {
  flex: 1 1 30rem;
  width: 100%;
}
::placeholder {
  color: var(--t-white);
}
label {
  font-size: var(--fontSize-3);
  padding-left: 0.5rem;
  letter-spacing: var(--letterSpacing-1);
  font-family: var(--font_family-2);
}
.contact_form form textarea,
.contact_form form input {
  margin-top: 0.5rem;
  width: 100%;
  color: var(--t-white);
  font-size: var(--fontSize-2);
  font-weight: var(--weight-regular);
  padding-left: 1rem;
  border: 0.2rem solid var(--white-1);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: var(--black-8);
  box-shadow: var(--shadow-2);
  height: 6rem;
  margin-bottom: 2rem;
}
.contact_form input:focus,
.contact_form textarea:focus {
  border: 0.2rem solid var(--green);
}
.contact_form form textarea {
  height: 30rem;
  padding: 1rem;
}
.form_btn {
  text-align: left;
  margin-top: 3rem;
}
/* CONTACT SECTION ENDS */
